@media (min-width: 1440px) {
  .central-direction.container {
    max-width: 1000px;
  }
  .parking-section .container {
    max-width: 980px;
  }

  .tratement-responsive {
    justify-content: center;
    gap: 40px !important;
  }
  .tratement-responsive .tratement-slider-parent {
    width: 565px;
  }
  .beauty-image {
    padding-right: 42px;
  }
}

@media (max-width: 1440px) {
  .swiper-row {
    justify-content: start;
    text-align: start;
  }
  .about-us {
    padding-bottom: 70px;
  }
  .collection {
    padding: 50px 0;
  }

  /* --offer-- */
  .offer {
    padding: 90px 20px;
  }
  .beauty {
    padding: 127px 0;
  }
  .collection-left-col {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .beuty-info-box1 h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .beuty-info-box1 .btn {
    padding: 16px 50px 16px 50px;
  }

  .treatement-inner-img {
    gap: 10px;
    margin-top: 50px;
  }

  /* --beauty-finchly-- */
  .environ-call-detail {
    margin-bottom: 13px;
  }
  .environ-detail-content h5 {
    margin-bottom: 16px;
  }
  .popup{
    width: 538px;
  }
  .member-terms-right-box {
    gap: 50px;
}

.skin-imgs img {
  position: absolute;
  top: 41px;
  right: 205px;
}
.skin-imgs .btn-button {
  top: 45%;
    right: 23%;
}

}



/* Consultation page Css */

@media (max-width: 1380px) {
  .consult-hero-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
}
}

@media (max-width: 1200px) {
  .treatement-inner-img img {
    width: 146px !important;
    height: 146px;
  }
  .treatment-price strong {
    font-size: 15px;
  }
  .treatment-price p {
    font-size: 15px;
  }
  .treatment-benifit-box li {
    font-size: 14px;
    line-height: 20px;
  }
  .treatment-benifit-box {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: auto;
    height: auto;
  }


.contult-hero-content .btn{
  padding: 23px 15px 23px 15px;
}

/* ---chemical peel--- */
.chemical_hair .btn {
  padding: 23px 34px 23px 34px;
}

.skin-img img{
  right: 0;
}
}
/* 1024 Screen */

@media (max-width: 1024px) {
  /* .container{
        max-width: 1050px;
    } */
    .fungal-nail-consult-sec {
      margin-top: 80px;
  }
  .parking-section {
    margin-bottom: 70px;
  }
  .location-select div.select p {
    font-size: 12px;
  }
  #main .nav-link {
    font-size: 10px;
    padding: 5px;
  }
  .nav-item {
    padding-right: 10px;
  }
  #main .responsive-nav .nav-link {
    font-size: 14px;
  }

  .swiper-row {
    justify-content: start;
    text-align: start;
  }
  #main .nav-item {
    margin: 0;
  }
  #main .swiper-content h1 {
    font-size: 49px;
    line-height: 59px;
  }
  #main .swiper-content {
    text-align: start;
    padding: 0 35px;
  }
  /* --about us-- */
  .about-left-data {
    padding: 0px 27px;
  }
  .about-us {
    padding: 67px 0;
  }
  .collection {
    padding: 24px 0;
  }

  .collection-left-col {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .beuty-info-box1 h3 {
    font-size: 18px;
    line-height: 28px;
  }
  .beuty-info-box1 .btn {
    padding: 16px 20px 16px 20px;
  }
  .beauty {
    padding: 97px 0;
  }
  .beauty-info {
    padding-bottom: 80px;
  }
  .central-section {
    padding: 78px 0;
  }
  .central-row {
    align-items: center;
  }
  .our-team-section {
    margin: 70px 0;
  }
  .team-grid-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .contact-location-section {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .treatment-info-box1 h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .environ-detail-content h4 {
    font-size: 28px;
    margin-bottom: 13px;
  }
  .environ-detail-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 14px;
  }
  .environ-detail-btn .btn {
    padding: 16px 28px 16px 28px;
  }
  .environ-detail {
    margin: 80px 0;
  }
  .spa-detail-inner-section{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .memberships-detail-section {
    margin: 80px 0;
}
.table-number p {
  margin-left: 70px;
}
.trt-body-lesser-word h4 {
  font-size: 28px;
  margin-bottom: 13px;
}
.leg-vessel-section {
  margin-top: 80px;
}
.lesser_work {
  padding-bottom: 80px;
}
.treatment-body-lesser-table{
  margin-bottom: 80px;
}
.prices-tab-section .accordion-body {
  padding: 20px 0 0;
}
.logo-slider {
  padding: 80px 0;
}
.treatment-wart-afetr-before {
  margin-top: 80px;
}


.banner-book-section .banner-inner-box{
  gap: 10px;
}
.banner-book-section .banner-content {
  gap: 10px;
  display: block;
  margin: auto;
}
.banner-book-section .banner-btn-group{ 
  gap: 10px;
  justify-content: center;
}
.banner-book-section .banner-title h4{
  font-size: 18px !important;
  line-height: 28px;
  text-align: center;
}
.video-inner-box {
  gap: 40px;
}

.work-popular-step ul {
  grid-template-columns: repeat(3, 1fr);
}


.skin-imgs img{
  top: 41px;
  right: 37px;
}
.skin-imgs .btn-button{
  top: 45%;
      right: 4%;
}
.skin-banner-right{
margin-left: 59px;
}

.skin-img img { 
  max-width: 480px;
  right: 0;
}
.emlift-3d-data-img img {
  max-width: 186px;
}
.emlift-banner {
  padding: 70px 0;
}
.co2-banner {
  gap: 25px;
}
.co2-dermoforce-banner h2 {
  font-size: 34px;
  max-width: 100% ;
}
.bingo-video-data-right{
  padding: 30px 40px 30px 100px;
}
.bingo-responsive .title-content h2{
margin-bottom: 40px;
}

}

@media (max-width: 991px) {
  .demaforce-extra-space{
    margin-left: 0px;
  }
  .hero-laser-padding{
    padding: 0;
  }
  .contult-hero-content h2, .contult-hero-content p {  
    text-align: center;
}
.d-md-block {
  display: block !important;
  text-align: center;
}
.hero-first-button{
  margin-right: 15px;
}

  .cosmetic-service {
    background: linear-gradient(90deg, #fefaf9 65%, #ffffff 50%);
  }
  .traetment-detail-content {
    margin-top: 40px;
  }
  .member-price-main-box {
    grid-template-columns: repeat(1,1fr);
}
.member-terms-col{
  display: block;
}
.member-terms-left-box{
  margin-bottom: 20px;
}
.member-terms-right-box {
  gap: 0px;
}
.membership-contact-list {
  gap: 100px;
}
.consult-hero-top {
  margin-top: 180px;
}
.slide-consutation {
  height: unset;
}
.consult-hero-image {
  position: static;
  bottom: 0;
  right: 0;
  width: 100%;
}
.slide-consutation .container{
  max-width: 100%;
    /* padding: 0; */
}
.consult-hero-top {
  padding-right: 30px;
  padding-left: 30px;
}
.pages-name ul {
  display: grid!important;
  gap: 60px;
  grid-template-columns: repeat(4,1fr);
}
.contult-hero-content{
  margin-bottom: 30px;
}
.works-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.benifit-section {
  padding: 60px 0;
}
.work-content-col {
  padding-left: 20px !important;
  margin-top: 40px;
}
.step-detail-box h6 {
  font-size: 20px;
  line-height: 25px;
}
.step-detail-box p {
  font-size: 16px;
  line-height: 20px;
}
.step-innner-sec-section {
  margin-top: 30px;
}
.benifit-content-column {
  padding-left: 20px;
}
.guarantee-section {
  margin: 60px 0;
}
.guarantee-inner-section h2 {
  color: #000000;
  text-align: center;
  font-size: 36px;
  line-height: 46px;
}
.guarantee-inner-section p {
  font-size: 22px;
  line-height: 22px;
}
.prices-tab-section thead th {
  font-size: 14px;
  line-height: 18px;
}
.prices-tab-section tbody td {
  font-size: 16px;
  line-height: 18px;
}
.prices-tab-section {
  margin-bottom: 60px;
}
.laser-pages-name ul{
  gap: 20px;
  justify-content: center;
}
/* lesser work section css start */
.trt-body-lesser-word .row{
  gap:20px
}
.lesser_work .title-content h2 {
  margin-bottom: 15px;
}
.trt-body-lesser-word .work-content-col {
  padding-left: 10px !important;
  margin-top: 20px;
}
.treatment-body-afetr-before .laser-hair-page-btn.environ-btn {
  margin: 30px 0 0px;
}
.treatment-body-afetr-before .btn {
  padding: 23px 38px 23px 38px;
}
.facial_tech {
  padding-bottom: 70px;
}
.seven-step-data{
  margin-top: 30px;
}
.consult-step-h3 {
  font-size: 16px;
  font-weight: 600;
}
.hydro-preparation {
  margin-top: 60px;
}
.btn {
  padding: 15px;
}
.video-inner-box {
  gap: 40px;
  flex-direction: column;
}
.tab-content .row {
  flex-direction: column-reverse;
  gap: 30px;
}
.how-does-detail {
  text-align: left;
  margin-top: 15px;
}
.skin-pen-how-does h2 {
  margin-bottom: 40px;
}
.skin-pen-how-does .hair-remove-title{
  margin-bottom: 40px;
}
.skinpen-title-about {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
}

.skin-img img {
  max-width: 319px;
  right: 0;
  left: 0;
  margin: auto;
}
.skinpen-container.container {
  align-items: normal;
}
.skinpen-hero h2{
  max-width: 100%;
}
}
/* 768 Screen */
@media (min-width: 768px) and (max-width: 992px) {
  .treatment-img img {
    width: 100%;
  }

 
}
@media (max-width: 768px) {
  .thumbnail {
    width: 168px;
    height: auto;
  }
  .treatment-tab-section {
    margin: 80px 0;
  }


  .left-content-col {
    padding-left: 12px;
  }
  .swiper-row {
    justify-content: center;
    text-align: center;
  }
  #main .swiper-content h1 {
    font-size: 42px;
    line-height: 53px;
  }

  #main .swiper-content p {
    font-size: 16px;
    line-height: 20px;
  }

  #main .swiper-content .btn {
    border: 1px solid var(--white-color);
    padding: 15px 16px 15px 16px;
  }
  #main .swiper-button-next:after,
  #main .swiper-button-prev:after {
    font-size: 38px;
  }
  #main .swiper-content {
    text-align: center;
    padding: 0 35px;
  }
  #main .swiper-content h1 {
    line-height: 61px;
  }
  .about-left-data p {
    font-size: 24px;
  }
  .about-left-data {
    padding: 0px 15px;
  }
  .about-us {
    padding: 66px 0;
  }

  .collection-left-data {
    padding-right: 50px;
  }
  .collection-left-data h4 {
    font-size: 27px;
    line-height: 40px;
  }
  .collection-left-data .btn {
    padding: 19px 50px 19px 50px;
  }
  .offer {
    padding: 61px 20px;
  }
  .beauty {
    padding: 84px 0;
  }
  .beauty-data h2 {
    font-weight: 400;
    font-size: 56px;
  }
  .our-team-btn {
    padding-top: 0px;
  }
  .logo-slider {
    padding: 80px 0;
  }
  .logo-slider .container-fluid {
    padding: 25px 0;
  }
  .team-data {
    padding: 20px;
  }
  .central-img-col {
    margin-bottom: 30px;
  }
  .our-team-section {
    margin: 60px 0 30px;
  }
  .team-row {
    margin-top: 0;
  }
  .team-grid-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .team-data-img {
    margin-bottom: 15px;
  }
  .team-data h3 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 7px;
  }
  .slide-team-1 {
    height: 350px;
  }
  .center-column h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .slide-condition {
    height: 350px;
  }
  .terms-center-column h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .terms-condition-section {
    margin: 60px 0 20px;
  }
  .terms-condition-section h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .tab-box-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-inner-box p {
    font-size: 16px;
    line-height: 24px;
  }
  .contact-us-btn .btn {
    padding: 19px 25px 19px 25px;
  }
  .contact-inner-box p {
    font-size: 14px;
    line-height: 20px;
  }
  .contact-cosmetic-section {
    margin: 35px 0 70px;
  }
  .treatment-center-column h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .treatment-deatil-box {
    display: block;
  }
  .treatement-inner-img img {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .treatment-detail .btn {
    padding: 15px 20px;
    font-size: 12px;
  }
  .traetment-detail-content {
    margin-top: 40px;
  }
  .treatment-detail {
    margin: 80px 0;
  }
  .browse-section {
    margin: 80px 0;
  }
  .browse-inner-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .browse-button-col {
    margin-top: 40px;
  }
  .hero-breadcrumd a {
    font-size: 20px;
    line-height: 30px;
  }
  .thumbnails {
    display: flex;
    margin: 18px auto 0;
    padding: 0;
    justify-content: center;
    gap: 10px;
  }
  .beauty-image h4 {
    margin-top: 40px;
  }
  .beauty-detail-content {
    margin-top: 80px;
  }
  .hero-breadcrumd a {
    font-size: 20px;
    line-height: 30px;
  }
  .environ-detail-img {
    margin-bottom: 30px;
  }
  .trt-sec-section .environ-detail-img {
    margin-bottom: 0px;
}
  .environ-detail-content h4 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .environ-detail-content h5 {
    margin-bottom: 20px;
  }
  .environ-detail-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .environ-calltext{
    margin-bottom: 5px !important; 
  }
  .environ-detail-img img{
    width: 100%;
    height: 100%;
  }
  .lasser-work-video img {
    width: 100%;
    height: 100%;
}

  .environ-grid-col{
  grid-template-columns: repeat(2,1fr);
  }
  .popup{
    width: 426px;
  }
  .spa-detail-inner-section{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .spa-main-box{
    grid-template-columns: repeat(1 ,1fr);
    gap: 30px;
  }
  .spa-package-section{
    margin: 90px 0;
  }
  .spa-detail-section{
    margin-bottom: 90px;
    }
    .member-price-list {
      margin-bottom: 80px;
  }
  .membership-contact-list {
    gap: 50px;
}
.prices-tab-section .tab {
  max-width: 100%;
  margin: auto;
}
.table-number p {
  margin-left: 55px;
}
.today-sale{
  padding: 60px 0;
}
.award{
  padding: 60px 0;
}
.contactus .contactus-data{
  margin-bottom: 14px;
}
.banner-hd{
  padding: 60px 0;
}
.after_before .col-12{
   margin-bottom: 30px; 
}
.lesser_work{
  padding-bottom: 60px;
}
.massage .accordion-button{
  font-size: 18px;
  line-height: 18px;
}
.massage thead tr th{
  font-size: 11px;
  line-height: 20px;
}
.accordion-para{
  font-size: 14px;
  line-height: 18px;
}
.facial-h3 {
  font-size: 16px;
  line-height: 18px;
}
.facial-h4{
  font-size: 16px;
  line-height: 18px;
}
.facial-space h3{
  font-size: 16px;
  line-height: 18px;
}
.facial-acco h4{
  font-size: 16px;
  line-height: 18px;
}
.facial-para-space h4{
  font-size: 16px;
  line-height: 18px;
}
#collapseTwo table tr td p {
  font-size: 14px;
  line-height: 16px;
}
.facial-h3-gray{
  font-size: 16px;
  line-height: 18px;
}
.facial-h4-gray{
  font-size: 16px;
  line-height: 18px;
}
.eyes-foot{
  font-size: 16px;
  line-height: 18px;
}
.trt-sec-section .row {
  display: grid !important;
  gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}
.fungal-nail-consult-sec .consult-content {
  font-size: 16px;
  line-height: 26px;
}
.laser-hair-page-btn.environ-btn {
  margin: 30px 0 0px;
}
.massage table tr td {
  font-size: 12px;
  line-height: 18px;
}

/* --chemical peel--0 */
.product-data{
flex-wrap: wrap;
gap: 24px;
}
.product-data{
  margin-bottom: 24px;
}
.table_para {
  font-size: 16px;
  line-height: 23px;
}
.work-popular-step ul {
  grid-template-columns: repeat(2, 1fr);
}
.what-treat-step h6 {
  color: #282828;
  font-size: 16px;
}
.dermaforce-after-before {
  margin-top: 80px;
}
.skinpen-what-can .what-treat-detail {
  grid-template-columns: repeat(4, 1fr);
}

.skinpen-popular-step {
  display: grid !important;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}
.skin-border-1::after , .skin-border-2::after{
 content: none;
}
.step-box-img{
  margin-bottom: 20px;
}
.skinpen-hero h2 {
  max-width: 100%;
}

.skin-img img {
  max-width: 319px;
  right: 0;
  left: 0;
  margin: auto;
}
.skinpen-container.container{
  align-items: normal;
}
.emlift-3d-data-img{
  justify-content: center;
}
.emlift-3d-treatment{
  justify-content: center;
}
.emlift-3d-data-img img {
  max-width: 249px;
}
.co2-banner{
  flex-direction: column;
  align-items: center;
}
.co2-dermoforce-banner{
  text-align: center;
}
.co2-dermoforce-banner p{
  max-width: 100%;
}
.co2-what-data-list ul{
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.emlif-row.how-does-row{
  flex-direction: column-reverse ;
  display: flex;
  margin-top: 30px;
  gap: 30px;
}
.bingo-video-data{
  flex-direction: column;
}
.bingo-video-data-right{
  padding: 30px 40px 30px 40px;
}
.bingo-video{
  margin: 80px 0;
}
}

@media (max-width: 767px) {
  .footer-logo{
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-contact form {
    text-align: center;
    width: 278px;
}
.footer-last-column{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
  .cosmetic-service {
    background: linear-gradient(180deg, #fefaf9 60%, #ffffff 40%) !important;
  }
  .collection-image {
    padding: 0;
  }
  .collection-img img {
    max-width: 100%;
    width: 100%;
  }
  .collection {
    background: linear-gradient(180deg, #f7efec 60%, #ffffff 40%);
  }
  .muswell-cosmetic-service {
    background: linear-gradient(180deg, #fbfbfb 60%, #ffffff 40%);
  }
  .beuty-info-box1 .btn {
    padding: 16px 9px 16px 9px;
  }
  .treatement-inner-img img {
    max-width: max-content;
    width: 120px;
    height: 120px;
  }

  .treatement-inner-img {
    gap: 10px;
  }
  .sub-title-box h5 {
    margin-top: 15px;
    font-size: 24px;
    line-height: 28px;
  }.sub-title-box p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.spa-detail-inner-section {
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
.member-terms-right-box{
  display: block;
}
.member-terms-left-box {
  text-align: start;
}
.membership-contact-list{
  display: block;
}
.membership-call-detail{
  margin-bottom: 30px;
}
.step-detail-box {
  flex: 0 0 calc(100% - 25px);
}
.step-innner-sec-section {
  justify-content: space-between;
  row-gap: 30px;
}
.step-innner-sec-section .step-detail-box {
  flex: 0 0 calc(100% - 20px);
}
.step-contect-border2::after,
.step-contect-border::after{
  content: none;
}
.chemical_detail-box .step-contect-border2::after,
.chemical_detail-box .step-contect-border::after{
  content: '';
}
.step-innner-section{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.step-innner-sec-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.step-center-box-mobile{
  grid-column: span 2;
}
.step-detail-box h6 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}
.step-detail-box p {
  font-size: 14px;
  line-height: 20px;
}
.treatment-body-afetr-before .laser-hair-page-btn.environ-btn {
  margin: 10px 0 0px;
}
.treatment-body-skin-table .accordion {
  margin-top: 30px;
}
.logo-slider.logo-laser-slider .container-fluid {
  background: transparent;
  padding: 0px 0;
}
.beauty-info .title-content h2 {
  margin-bottom: 30px;
}
.trt-sec-section{
  padding-right: 10px;
  padding-left: 10px;
}
.lesser_work .work-content-col {
  padding-right: 10px;
}
.trt-body-lesser-word h4 {
  font-size: 28px;
  line-height: 38px;
}
.banner-book-section .banner-left-image, .banner-right-image{
  display: none;
}
.banner-book-section .banner-inner-box {
  gap: 10px;
  padding: 50px 0;
}
.banner-book-section .banner-book-btn {
  padding: 9px 12px;
  margin-top: 6px;
  letter-spacing: 0 !important;
}

.prices-tab-section tbody td{
  width: 100%;
  min-width: 360px;
}
.table_para {
margin-bottom: 10px;
}
.img-video-sec {
  position: unset;
}
.hydro-after-section {
  margin-top: 80px;
}
.hair-remove-title h2{
  font-size: 24px;
  line-height: 34px;
}
.hydro-after-before-section .after-data h3 {
  line-height: 26px;
  font-size: 16px;
}
.hydro-title h2 {
  margin-bottom: 30px !important;
}
.hydro-tab-section tbody td{
  min-width: auto !important;
  font-size: 12px !important;
}
.hydro-tab-section tbody tr td:first-child{
  padding: 10px 0px 0px 0px;
}
.hydro-tab-section thead th:first-child {
  text-align: start;
  padding: 20px 0px 20px 0px;
}
.hydro-tab-section thead th {
  padding: 20px 8px;
}
.beauty-hydro-section .title-content h2{
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 10px;
}
.beauty-hydro-section {
  margin-top: 80px;
}
.beauty-hydro-inner-box .beauty-row{
  row-gap: 20px;
}
.video-detail-box h4{
  font-size: 26px;
    line-height: 38px;
}
.how-does-row{
  flex-direction: column-reverse ;
  display: flex;
  margin-top: 30px;
  gap: 30px;
}
.what-can-treat-section{
  padding-top: 40px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 40px;

}
.what-treat-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
}
.what-treat-step h6 {
  font-size: 16px;
  line-height: 20px;
  max-width: 100%;
}
.hifu-whatcan .what-treat-step:last-child img {
  width: 100%;
  height: 100%;
}
.dermaforce-video-section {
  margin-top: 80px;
  margin-bottom: 80px;
} 
.dermaforce-video-section .video-detail-box {
  display: block;
  text-align: center;
}
.video-first-title {
  font-size: 32px;
  line-height: 30px;
}
.video-sec-title {
  font-size: 20px;
  line-height: 30px;
}
.video-third-title {
  font-size: 20px;
  line-height: 26px;
}
.video-fourth-title {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 24px;
}
.derma-video-btn {
  padding: 15px 20px;
}
.skin-pen-how-does .hair-remove-title {
  margin-bottom: 0px;
}
.what-treat-step{
  text-align: center;
}
.skinpen-work-popular h4 {
  font-size: 22px;
}
.reason-inner-section{
  flex-direction: column-reverse;
}
.what-area-treat-detail {
  grid-template-columns: repeat(2, 1fr);
}
.what-area-treat-detail .centered {
  grid-column: span 2;
  margin: 20px auto 0;
}
.fit-after-before {
  margin-top: 80px;
  margin-bottom: 80px;
}
.fit-sfter-first-row {
  margin-bottom: 0px;
}
.fit-after-before .skin-pen-row {
  margin-top: 20px;
}
.after_before.hydro-after-before-section.fit-after-before{
  padding-bottom: 0;
}
.dermaforce-step-section {
  margin-top: 8px;
}
.fit-after-before .consult-section-ul li {
  margin-bottom: 10px;
}
.co2-btn-grp{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.fit-does-section{
  margin-top: 80px;
}
.fit-work-popular h4 {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 10px;
}
.bingo-table.prices-tab-section .accordion-button{
  font-size: 14px;
  line-height: 20px;
}
.bingo-table.prices-tab-section .accordion-button span{
  font-size: 11px;
  line-height: 16px;
}
}




@media (max-width: 690px) {
  .skin-img img {
    max-width: 292px;
  }
  .skinpen-hero .btn{
    margin-bottom: 20px;
    }
}
@media (max-width: 575px) {
  .co2-table-para{
    padding-left: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .review-data{
    margin-top: 50px;
  }
  .co2-review-content p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .co2-review-content h6{
    font-size: 18px;
    line-height: 18px;
  }
  .review-data{
    padding: 40px 0;
  }
  .massage .accordion-button{
    font-size: 16px;
    line-height: 18px;
  }
  .long-width{
    min-width: 555px;
  }
  .eyes-foot{
    font-size: 14x;
    line-height: 16px;
  }
.membership-contact-list {
  gap: 45px;
}
.contult-hero-content h2 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 15px;
  text-align: center;
}
.contult-hero-content p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.contult-hero-content{
  text-align: center;
}
.pages-name ul {
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.prices-tab-section tbody td {
  font-size: 12px;
  line-height: 18px;
}
.prices-tab-section thead th {
  font-size: 12px;
  line-height: 18px;
}
.prices-tab-section .accordion-button {
  font-size: 16px;
  line-height: 20px;
}
.work-content-col {
  padding-left: 10px !important;
  margin-top: 40px;
}
.benifit-content-column {
  padding-left: 10px;
}
.award-img{
  text-align: center;
}
.award .col-6{
  margin-bottom: 10px;
}
.today-sale {
  padding: 80px 0;
}
.benifit-section {
  padding: 80px 0;
}
.banner-hd {
  padding: 40px 0;
}

#collapseTwo table tr td p {
  font-size: 12px;
  line-height: 20px;
}
.accordion-para{
  font-size: 14px;
  line-height: 20px;
}

.facial-space{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.beauty-info .row{
  gap: 50px;
}
.treatment-body-skin-contact .environ-detail-btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  flex-wrap: wrap;
  gap: 20px;
}
.treatment-detail-content p {
  margin-bottom: 15px;
}
.treatment-body-skin-contact {
  margin-top: 25px;
}
.treatment-body-lesser-table tbody tr td:first-child {
  padding: 10px 0px 0px 20px;
  }   
  .after_before .title-content h2 {
    margin-bottom: 30px;
} 
.title-content h2 {
  font-size: 28px;
  line-height: 38px;
}
.emlift-work-title h3{
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 15px;
}
.synergy-data{
  padding: 38px 15px 40px ;
}
.pre-post{
  padding-top: 80px;
}
.pre-post-data .consult-section-ul .consult-content{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}
.dermaforce-after-before{
  margin-top: 80px;
}
.emlift.after_before .col-12{
  margin-bottom: 40px;
}
.emlift .laser-hair-page-btn.environ-btn{
  margin-top: 0;
}
 .custm-td-mobile{
  min-width: 70px !important; 
}
.review-data-content p{
  font-size: 14px;
  line-height: 24px;
}
/* --chemical peel-- */
.center-column h4{
  font-size: 16px;
  line-height: 20px;
}
.chemical_hair.works-section{
padding: 48px 0;
}
.chemical_hair .work-content-col{
  margin-top: 29px;
}
.chemical_hair .work-content-col p{
  font-size: 14px;
  line-height: 24px;
}
.product {
  padding-top: 80px;
  padding-bottom: 80px;
}
.popular-title p{
  font-size: 16px;
  line-height: 20px;
}
.product-data-h4{
  font-size: 18px;
  line-height: 20px;
}
.table_para {
  font-size: 16px;
  line-height: 28px;
}
.chemical_logo img{
  margin: 0 10px;
}
.prices-tab-section td{
  padding: 10px 0;
}
.prices-tab-section tbody td {
  font-size: 18px;
  line-height: 20px;
}.facial_tech_data {
  margin-top: 30px;
}

/* hydro css start */
.hydro_work_list li{
  font-size: 16px;
  line-height: 26px; 
 }
 .facial-box h3{
  font-size: 16px;
 }
 .facial-box img{
    width: 130px;
    height: 130px;
 }
 .facial_tech {
  padding-bottom: 36px;
}
.work-popular-step ul{
  grid-template-columns: repeat(2,1fr);
  list-style: disc;
  padding-left: 15px;
}
.what-treat-detail{
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;;
  margin-top: 50px;
}  
.how-work-step-detail{
  grid-template-columns: repeat(2,1fr);
  column-gap: 17px !important;
}
.how-work-step-detail p, .how-work-image-box {
  text-align: center;
}
.how-work-step-detail .centered {
  grid-column: span 2;
  margin: 20px auto 0;
}
.what-treat-detail .centered{
  grid-column: span 2;
  text-align: center;
}
.step-section .centered{
  grid-column: span 2;
  text-align: center;
}
.work-popular-area h4 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  max-width: 300px;
  text-align: center;
  margin: auto;
}
.work-popular-step li {
  font-size: 15px;
  line-height: 20px;
}
.work-popular-step {
  margin-top: 10px;
}
.skinpen-what-can .what-treat-detail {
  grid-template-columns: repeat(2, 1fr);
}

.skinpen-popular-step {
  display: grid !important;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 30px;
  justify-content: center;
}
.skin-pen-how-does h2 {
  margin-bottom: 30px;
}
.reason-satisfavtion-detail h5 {
  font-size: 16px;
  line-height: 26px;
}
.reason-left-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.reason-image .top-image{
  width: 100%;
}
.reason-bottom-title {
  font-size: 20px;
}
.step-detail h6 {
  font-size: 18px;
}
.step-box:not(:last-child) {
  margin-bottom: 15px;
}
.step-detail p {
  font-size: 14px;
  line-height: 24px;
}
.reason-inner-section{
  flex-direction: column-reverse;
  gap: 40px;
}
.responsive-what-area .what-treat-step{
  display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.skin-img img {
  max-width: 242px;
}
.hifu-banner-section {
  margin-top: 30px;
}
.skinpen-hero h2{
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}
.video-right{
text-align: center;
}
.video-des{
  display: block;
}
.video-des img{
  margin-bottom: 23px;
}
.contult-hero-content{
  margin-bottom: 0;
}
.cutm-td{
  min-width: auto;
}
.emlift-3d-data-img img {
  max-width: 168px;
}
.emlift-3d-data-img{
  gap: 22px;
}
.emlift-3d-treatment{
  padding: 13px 11px 16px 16px;
}
.treatment-data h4{
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 3px;
}
.treatment-data p{
  font-size: 9px;
  line-height: 14px;
}
.emlift-3d-treatment .step-img{
  width: 42px;
  height: 42px;
  padding: 7px 10px;
}
.emlift-3d-data h3{
  font-size: 14px;
  line-height: 14px;
}
.emlift-work-step img{
  width: 170px;
}
.emlif-treat-section{
  margin-top: 50px;
}
.dermaforce-header-menu .laser-pages-name ul{
  gap: 17px;
}
.laser-menu-page {
  padding-top: 27px;
  padding-bottom: 27px
}
.emlift-section{
  height: 393px;
}
.treatment-data{
  gap: 9px;
}
.emlift-3d-treatment{
  gap: 13px;
}
.emlift-treate p{
  width: 100% !important;
}
.emlif-what-treat .what-treat-step img{
  width: 130px;
  height: 130px;
}
.co2-what-data-list ul {
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.co2-what-data-list h3{
  text-align: center;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 20px;
}
.co2-what-data-list ul li{
  font-size: 15px;
}
.bingo-video-data-right h3{
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 10px;
}
.bingo-video-data-right h6{
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
.bingo-video-data-right p{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.bingo-video-data-right button{
  font-size: 14px;
  line-height: 20px;
  padding: 12px 17px;
}
.prices-tab-section.bingo-table td {
  padding: 0px 0;
}
.logo-black img {
  max-width: 75px;
  width: 100%;
}
.bingo-work.chemical_hair.works-section{
  padding-top: 0;
}
.bingo-video-data-right{
  padding: 30px 20px 30px 20px;
}
.bingo-ultimated h2 {
  font-size: 28px;
  line-height: 30px;
}
.bingo-ultimated h3{
  font-size: 20px;
  line-height: 24px;
}
}


@media (max-width: 429px) {

.hero-first-button {
  margin-bottom: 10px;
}
.slide-treatment-veg-lesser
  .hero-first-button {
    margin-bottom: 0;

}
.slide-treatment-wart-verruca .hero-first-button {
  margin-bottom: 0px;
}



.emlif-what-treat.what-treat{
  grid-template-columns: repeat(2, 1fr);
}
}

/* 425 screen */

@media (max-width: 425px) {
  .slide-treatment-wart-verruca .hero-first-button {
    margin-bottom: 10px;
  }
.slide-treatment-veg-lesser .hero-first-button {
  margin-bottom: 10px;
}
  .tab-box-col {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .tab {
    font-size: 14px;
    line-height: 24px;
  }
  .parking-title h4 {
    font-size: 28px;
    line-height: 28px;
  }
  .contact-location-section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .parking-box p {
    font-size: 16px;
    line-height: 26px;
  }
  .parking-section {
    margin-bottom: 60px;
  }
  .form-enquire-section {
    margin-bottom: 60px;
  }
  .swiper-button-prev:after {
    right: 88%;
  }
  #main .swiper-button-prev {
    color: var(--white-color);
    /* padding: 51px 30px; */
  }
  .swiper-button-next:after {
    content: "next";
    left: 89%;
    position: absolute;
  }
  #main .swiper-content h1 {
    font-size: 28px;
    line-height: 38px;
  }
  #main .swiper-button-next:after,
  #main .swiper-button-prev:after {
    font-size: 28px;
  }
  .about-content {
    padding-right: 12px;
  }
  .about-content-right {
    padding-left: 12px;
  }
  .about-left-data p {
    text-align: start;
  }
  .about-left-data {
    padding: 0px;
  }
  .padding-top {
    padding-top: 60px;
  }
  .about-left-data p {
    font-size: 18px;
    line-height: 28px;
  }
  .about-right-data p {
    font-size: 12px;
    line-height: 22px;
  }
  .about-info-data span {
    line-height: 20px;
  }
  .about-info-data h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .about-content .about-info {
    margin-bottom: 28px;
  }
  .about-info-data h5 {
    font-size: 14px;
    line-height: 29px;
    margin-bottom: 0;
  }
  .collection-left-data {
    padding: 0px 20px 46px;
  }
  .collection-left-data h4 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .collection-left-data p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .collection-left-data .btn {
    padding: 15px 35px 15px 35px;
  }
  .offer {
    padding: 60px 12px;
  }
  .beauty-data h2 {
    font-size: 38px;
    line-height: 48px;
    max-width: 283px;
  }
  #main .swiper-content {
    text-align: center;
    padding: 0 47px;
  }
  .collection {
    background: linear-gradient(90deg, #f7efec 100%, #ffffff 50%);
  }
  .contact-cosmetic-section {
    margin: 25px 0 60px;
  }
  .collection-left-col {
    padding-top: 46px;
    padding-bottom: 0px;
  }
  .collection {
    padding: 0px 0 0px;
  }
  .collection-image {
    padding: 0;
  }
  .contactus {
    padding: 0 0 30px;
  }
  .about-us {
    padding: 60px 0;
  }
  .beuty-content img {
    width: auto;
  }
  .beuty-info-box1 h3 {
      font-size: 24px;
      line-height: 31px;
      padding: 10px;
  
  }
  .beuty-info-box1 .btn {
    padding: 15px 35px;
  }
  .beauty-info {
    padding-bottom: 80px;
  }
  .contect-border1:after {
    display: none;
  }
  .central-direction-contact.container {
    padding: 0;
  }
  /* footer */
  .footer-logo {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-contact {
    margin-top: 30px;
  }
  .contactus-data h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    margin-top: 10px;
  }
  .cosmetic-service {
    background: linear-gradient(180deg, #fefaf9 100%, #ffffff 50%) !important;
  }
  .muswell-cosmetic-service {
    background: linear-gradient(90deg, #fbfbfb 100%, #ffffff 50%) !important;
    margin-bottom: 60px;
  }
  .central-contact-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .centered {
    grid-column: span 2;
    margin: 30px auto 0;
  }
  .contact-inner-box h6 {
    margin-top: 15px;
    font-size: 14px;
    line-height: 14px;
  }
  .central-about h4 {
    font-size: 28px;
    line-height: 38px;
  }
  .central-about h6 {
    margin-bottom: 15px;
  }
  .central-about p {
    font-size: 12px;
    line-height: 22px;
  }
  .central-section {
    padding: 60px 0;
  }
  .team-data h3 {
    font-size: 16px;
    line-height: 26px;
  }
  .team-data h5 {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .team-data p {
    font-size: 11px;
    line-height: 14px;
  }
  .condition-inner-section {
    border: 0;
    border-radius: 5px;
    padding: 0;
  }
  .terms-box {
    margin-bottom: 30px;
  }
  .terms-condition-section h4 {
    margin-bottom: 10px;
  }
  .footer-link li {
    line-height: 20px;
  }
  .contact-inner-box .centarl-call {
    height: 42px;
    width: 42px;
    line-height: 13px;
  }
  .treatment-tab-section {
    margin: 60px 0;
  }
  .treatement-inner-img img {
    max-width: max-content;
    width: 92px;
    height: 92px;
  }
  .treatement-inner-img {
    gap: 10px;
  }
  .treatment-detail {
    margin: 60px 0;
  }
  .browse-section {
    margin: 60px 0;
  }
  .traetment-detail-content h4,
  .faq-section h4,
  .browse-section h4 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 15px;
  }
  .treatment-benifit-box {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .traetment-detail-content h5 {
    margin-bottom: 15px;
  }
  .traetment-detail-content p {
    font-size: 12px;
    line-height: 21px;
  }
  .traetment-detail-content h5 {
    font-size: 20px;
    line-height: 24px;
  }
  .accordion-button {
    font-size: 14px;
    line-height: 20px;
  }
  .faq-section {
    padding: 30px 0 10px;
  }
  .browse-section h4 {
    margin-bottom: 25px;
  }
  .treatment-price p {
    font-size: 18px;
    text-align: center;
  }
  .treatment-call-detail p {
    font-size: 18px;
  }
  .treatment-detail-btn {
    gap: 26px;
  }
  .beauty-call-detail {
    display: block !important;
  }
  .beauty-detail-btn {
    text-align: center;
    margin-top: 20px;
  }
  .beauty-image h5 {
    font-size: 18px;
    line-height: 24px;
  }
  .beauty-image p {
    font-size: 14px;
    line-height: 24px;
  }
  .hero-breadcrumd a {
    font-size: 14px;
    line-height: 30px;
  }
  .environ-detail-content p {
    font-size: 14px;
    line-height: 24px;
}
.environ-detail-btn .btn {
    padding: 15px 22px;
    font-size: 12px;
}
.environ-detail-content h5 {
    font-size: 18px;
}
.environ-grid-col{
grid-template-columns: repeat(1,1fr);
gap: 40px;
}
.popup{
  width: 353px;
}
.popup-data h4{
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
.popup-data p{
  font-size: 12px;
  line-height: 14px;
}
.popup-data .btn{
  padding: 13px 28px;
  font-size: 12px;
}
.spa-detail-inner-section{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.spa-package-section{
  margin: 60px 0;
}
.spa-detail-section{
  margin-bottom: 60px;
  }
  .spa-content h4{
    font-size: 28px;
    line-height: 36px;
  }
  .spa-content p{
    font-size: 14px;
    line-height: 24px;
  }
  .memberships-detail-section {
    margin: 60px 0;
}
.membership-subscription-box {
  padding: 30px 15px;
}
.sub-title-box h6 {
  padding: 10px 25px;
  font-size: 14px;
  line-height: 24px;
}
.sub-title-box h5 {
  margin-top: 8px;
  font-size: 20px;
  line-height: 26px;
}
.membership-quote h4 {
  font-size: 18px;
  margin-top: 18px;
}
.membership-contact-list {
  display: block;
  margin-top: 15px;
}
.member-price-description h6 {
  font-size: 18px;
  line-height: 22px;
  text-align: start;
}
.membership-call-detail{
  margin-bottom: 30px;
}
.membership-detail-btn{
  text-align: center;
}
.member-price-list {
  margin-bottom: 60px;
}
.membership-terms-section {
  margin-bottom: 60px;
  padding: 20px 0px;
}
.membership-terms-section h6 {
  font-size: 16px;
  line-height: 18px;
}
.member-terms-right-box p {
  font-size: 14px;
  line-height: 16px;
}
.member-right-inner-box:not(:last-child) {
  margin-bottom: 20px;
}
.member-terms-list li {
  font-size: 14px;
  line-height: 26px;
}
.hero-first-button {    
    margin-bottom: 10px;
}
.contult-hero-content .btn {
  padding: 15px 27px 15px 27px;
}

.benifit-img-box h6 {
  font-size: 18px;
  line-height: 18px;
  text-align: start;
}
.benifit-content {
  font-size: 14px;
  line-height: 24px;
}
.guarantee-inner-section p {
  font-size: 20px;
  line-height: 20px;
}
.guarantee-inner-section h2 {
  font-size: 34px;
  line-height: 44px;
}
.table-number p {
  margin-left: 26px;
}
.faq-section .accordion-button {
  font-size: 16px;
  gap: 8px;
}
.faq-section .accordion-body {
  font-size: 14px;
  line-height: 24px;
}
.works-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.consult-section .tab-one > .row{
  flex-direction: column-reverse;
  gap: 30px;
}
.consult-section-ul{
margin-bottom: 30px;
}
.after_before .title-content h2 {
  margin-bottom: 30px;
}
.after_before {
  padding-bottom: 65px;
}
.faq-section .accordion-button::after{
font-size: 30px;
}
.faq-section .accordion-button:not(.collapsed)::after{
  font-size: 30px;

}
.faq-section .accordion-button:not(.collapsed) {
  gap: 5px;
  border-bottom: 0 !important;
  box-shadow: none;
}
.faq-section .accordion-item {
  margin: 20px 0;
}
.faq-section .accordion-header {
  margin-bottom: 20px;
}
.skin-banner-right{
  padding-top: 70px;
}
.skin-banner-right h3 {
  font-size: 36px;
  margin-left: 0;
}
.skin-banner-right{
  padding-left: 0;
}
.skin-banner-right p {
  font-size: 16px;
  margin-bottom: 22px;
}
.skin-imgs .btn-button {
  top: 49%;
}
.custm-td-mobile {
  min-width: 40px !important;
}
.dermaforce-body-skin-table thead th:last-child {
  padding: 8px 0px 8px 0px;
}
.co2-dermoforce-banner h2 {
  font-size: 20px;
  line-height: 22px;
}
.co2-btn-grp .btn{
  font-size: 14px;
  line-height: 18px;
}
.btn-ptomotion{
  font-size: 14px;
  line-height: 18px;
}
}


@media (max-width: 400px) {
.member-left-call-detail {
  display: block;
  margin-top: 10px;
}
.membership-terms-call{
  margin-bottom: 20px;
}
.beauty-info .btn {
  padding: 23px 44px 23px 44px !important;
}
.consult-h3 span {
  font-size: 16px;
  line-height: 26px;
}
.trt-body-lesser-word{
  margin-top: 10px;
}

/* --chemicl peel */
.chemical_btn.environ-detail-btn .btn {
  margin-right: 20px;
  padding: 15px 13px;
}
.chemical_gallery .environ-gallery-data h3{
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 20px;
}
.chemical_gallery .environ-gallery-data p{
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 30px;
}
.chemical_gallery .environ-gallery-data h4{
  font-size: 16px;
  line-height: 26px;
}
.chemical_consult .consult-content{
  font-size: 14px;
  line-height: 24px;
}
.chemical_consult .consult-section-ul{
  margin-bottom: 15px;
}
.popular-title p{
  font-size: 14px;
  line-height: 16px;
}

}

/* 320screen */

@media (max-width: 375px) {
  .skin-imgs .btn-button {
    top: 46%;
}
.skin-banner-right h3 {
  font-size: 32px;
}

.skin-banner-right p {
  max-width: 320px;
}
.skinpen-hero h2{
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}
.skinpen-hero.contult-hero-content p{
  line-height: 20px;
}
.skinpen-slider .contult-hero-content .btn{
  padding: 18px 40px 18px 50px;
}
.emlift-3d-data-img img {
  max-width: 146px;
}
}
@media (max-width: 320px) {
  .skinpen-hero{
margin-top: 20px;
  }
  .skinpen-slider .contult-hero-content .btn{
    padding: 23px 30px 23px 30px;
  }
  .team-data-img img {
    width: 82%;
  }
  header {
    margin-bottom: -124px;
  }
  #main .swiper-content h1 {
    font-size: 28px;
    line-height: 38px;
  }
  #main .swiper-content p {
    font-size: 14px;
    line-height: 28px;
  }
  .collection-left-data {
    padding: 0px 14px 46px;
  }
  .collection-left-data h4 {
    font-size: 21px;
  }
  .offer {
    padding: 60px 20px;
  }
  .team-data {
    padding: 20px 10px 15px;
  }
  .contact-inner-box p {
    font-size: 12px;
    line-height: 20px;
  }
  .browse-section .btn {
    padding: 23px 30px 23px 30px;
  }
  .traetment-detail-content h4,
  .faq-section h4,
  .browse-section h4 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 12px;
  }
  .treatment-body-skin-table tbody tr td:last-child, 
  .treatment-body-skin-table thead th:last-child {
    padding: 20px 10px 20px 8px;

}

.skin-imgs .btn-button {
  top: 43%;
}
.skin-banner-right {
  padding-top: 71px;
}
.skin-banner-right h3 {
  font-size: 28px;
line-height: 30px;
margin-bottom: 18px;
}
.skin-banner-right button {
  padding: 15px 16px;
}



}
@media (max-width: 400px) {
  .prices-tab-section .tabs .tab,
  .prices-tab-section .tabs label {
    order: initial;
  }
  .prices-tab-section .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
  .demaforce-body-skin-table tbody tr td:last-child, 
.demaforce-body-skin-table thead th:last-child {
  padding: 8px 10px 8px 8px !important;
}
}