* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Mulish';
  overflow-x: hidden;
}
.team-data h5,
.footer-link li a,
.team-data p,
#main .swiper-content p,
.terms-condition-section p{
  font-family: 'Quattrocento';
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

:root{
  --white-color :#ffffff;
  --black-color :#000000;
}



/* header location */
.select.active .hidden {
  display: block;
}
.fa-location-dot:before, .fa-map-marker-alt:before {
  position: absolute;
  content: "\f3c5";
  font-size: 16px;
  top: 6px;
  left: -8px;
}
.location-select div.select:after {
  content: "\f3c5";
  position: absolute;
  right: 6px;
  top: 8px;
  font-size: 9px;
}
.location-select p {
  margin: 0;

}
.location-select div.select {
  padding-right: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: none;
  position: relative;
  background: transparent;
  color: #fff;
  transition: all 0.5s;
}
.location-select div.select p {
	padding: 5px;
	width: max-content;
  position: relative;
  margin-bottom: 5px;
  font-size: 14px;
  cursor:pointer;

}
.location-select div.select:after {
  content: "\f3c5";
    position: absolute;
    right: 6px;
    top: 8px;
    font-size: 9px;
}
.location-select div.select .hidden {
	position: absolute;
	visibility: hidden;
	opacity: 0;
  top: 42px;
	transition: .1s;
	background: white;
  color: #000000;
	border: 1px solid #999;
	z-index: 10;
	width: 100%;
  min-width: 150px;
  transition: all 0.5s;
}
.location-select div.select:hover .hidden {
	visibility: visible;
	opacity: 1;
}
.location-select div.select p:hover, div.select:hover {
  background: transparent;
}
.select{
  position: relative;
  transition: all 0.5s;
}
.select::before{
  background-color: var(--white-color);
  position: absolute;
  content: "";
  width: -webkit-fill-available;
  height: 1px;
  top: 28px;
  left: 10px;
  right: 16px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.select:hover:before {
  opacity: 1;
  visibility: visible;
}



/* --main--- */
#main{
  position: relative;
  height: 100vh;
  width: 100%;
}
#main .swiper {
height: 100vh;
  width: 100%;
}
.swiper-slide{
display: flex;
  align-items: center;
}

#main .nav-link{
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 0 !important;
}
#main .nav-item{
  margin: 0 10px;
  line-height: 24px;
  position: relative;
  transition: all 0.4s;
}
#main .nav-item:after{
  background-color: var(--white-color);
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  top: 28px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.sub-menu {
  position: absolute;
  top: 38px;
  left: 0px;
  background-color: var(--white-color);
  width: 147px;
  padding: 7px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
#main .nav-item:hover .sub-menu{
  opacity: 1;
  visibility: visible;
}
#main .nav-item:hover:after{
  opacity: 1;
  visibility: visible;
  width: 100%;
}


.swiper-button-prev:after {
content: 'prev';
position: absolute;
right: 73%;
}
.swiper-button-next:after {
content: 'next';
left: 76%;
position: absolute;
}
.swiper-button-prev {
padding-left: 10px; 
}

.swiper-button-next {
padding-right: 10px; 
}

.swiper-button-custom {
transition: color 0.3s ease-in-out;
}

.sub-menu li{
  line-height: 26px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 6px;
}
.location-select span{
  position: relative;
  transition: all 0.5s;
}

.location-sub-menu {
  position: absolute;
  top: 188%;
  left: -15%;
  background-color: var(--white-color);
  width: 165px;
  padding: 10px 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.location-select:hover .location-sub-menu{
  opacity: 1;
  visibility: visible;
}
.sub-menu li a{
  color: var(--black-color);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#main .swiper-wrapper{
  z-index: -1;
}
#main .slider-1{
  background-image: url('../images/topslide-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.slider-2{
  background-image: url('../images/topslide-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
#main .swiper-content{
  padding-right: 35px;
}
#main .swiper-content h1{
  font-size: 65px;
  font-weight: 400;
  line-height: 75px;
  color: var(--white-color);
  margin-bottom: 20px;
}
#main .swiper-content p{
  font-size: 18px;
  font-weight: 200 !important;
  line-height:32px;
  color: var(--white-color);
  margin-bottom: 20px;
  letter-spacing: 1px;

}
#main .swiper-content .btn{
  border: 1px solid var(--white-color);
  padding: 23px 50px 23px 50px;
  border-radius: 0;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  transition: all 0.5s;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#main .swiper-content .btn:hover{
  background-color: var(--white-color);
  color: var(--black-color);
}
#main .swiper-button-next, #main .swiper-button-prev{
  color: var(--white-color);
  padding: 51px 60px;
}
header{
  z-index: 9999;
  margin-bottom: -90px;
  color: var(--white-color);
}

.location-select{
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-inline-end: 12px;
}
.vector{
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.responsive-nav{
  position: absolute;
  background-color: rgba(255, 255,255, 255);
  color:var(--black-color) ;
  top: 90%;
  left: 5%;
  width: 90%;
  height: 303px;
  display: none;
  padding: 10px;
  border-radius: 15px;
}
#main .responsive-nav .nav-link{
  color:var(--black-color);
}

/* --about us -- */
.about-us{
  padding: 90px 0;
}
.about-left-data{
  padding: 0 100px;
}
.about-left-data p{
  font-weight: 300px;
  font-size: 25px;
  line-height: 35px;
  text-align: right;
}
.about-right-data p{
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
}
.padding-top{
  padding-top: 70px;
}
.about-info img{
  width: 100%;
}
.about-info-data span{
  font-size: 12px;
  font-weight: 400;
  line-height: 40px;
  color: var(--black-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.about-info-data h3{
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 28px;
  color: var(--black-color);
  text-transform: uppercase;
}
.about-info-data h5{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black-color);
  letter-spacing: 0.2px;
}
.about-info-data a{
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: var(--black-color);
  text-decoration: underline;
  letter-spacing: 1px;
}

/* --collection-- */
.collection{
  position: relative;
}
.collection{
background: linear-gradient(90deg, #282828 57%, #FFFFFF 50%);
}

.collection-left-col{
padding-top: 200px;
padding-bottom: 223px;
text-align: center;
}
.collection .row{
align-items: center;
}

.collection-left-data span{
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.collection-left-data h4{
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  color: var(--white-color);
  margin-bottom: 15px;
  margin-top: 10px;
}
.collection-left-data p{
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(185, 185, 185, 1);
}
.collection-left-data .btn{
  padding: 23px 50px 23px 50px;
  border: 1px solid var(--white-color);
  text-transform: uppercase;
  border-radius: 0;
  color: var(--white-color);
  font-size: 12px;
  letter-spacing: 2px;

}
.collection-left-data .btn:hover{
color: var(--black-color);
background-color: var(--white-color);
}
.collection-img img {
  position: absolute;
  top: 9%;
  left: 50%;
  width: 687px;
  object-fit: cover;
  height: 602px;
}

/* --offer-- */

.offer{
  padding: 150px 0;
}
.beauty {
  padding: 150px 0;
  background-image: url('../images/buety.png');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.beauty-data h2{
  font-weight: 400;
  font-size: 65px;
  line-height: 75px;
  color: var(--white-color);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.beauty-info{
  padding-bottom: 90px;
}
.beuty-content {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.beuty-content img{
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;
}
.beuty-content::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;  
  transition: all 0.5s;  
}
.bg-gray:after{
  background-color: rgba(207, 193, 185, 1);
}
.bg-orange:after{
  background-color:  rgba(200, 133, 122, 1);
}
.bg-green:after{
  background-color:   rgba(180, 173, 144, 1);
}
.bg-yellow:after{
  background-color: rgba(221, 187, 139, 1);
}
.beuty-content:hover:after{
  opacity: 0.6;
}
.beuty-content:hover img{
  transform: scale(1.2);
}
.beuty-info-box1 {
position: absolute;
z-index: 3;
top: 50%;
left: 0;
right: 0;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
text-align: center;
width: 100%;
}
.beuty-info-box1 h3{
  font-size: 36px;
  line-height: 52px;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 20px;
}
.beuty-info-box1 .btn{
  padding:  23px 50px 23px 50px;
  border: 1px solid var(--white-color);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  border-radius: 0;
  color: var(--white-color);
  transition: all 0.5s;
  letter-spacing: 2px;
}
.beuty-info-box1 .btn:hover{
  background-color: var(--white-color);
  color: var(--black-color);
}


.team-title{
margin-bottom: 30px;
}
.team-data{
  text-align: center;
  background-color: rgba(247, 239, 236, 1);
  padding: 30px;
}
.team-data-img {
  margin-bottom: 25px;
}
.team-data-img img{
  border-radius: 50%;
}
.team-data h3{
  font-size: 22px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 1);
}
.team-data h5{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
margin-bottom: 15px;
}
.team-data p{
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: #666666;
  letter-spacing: 0.5px;
}
.our-team-btn {
  padding-top: 50px;
}
.our-team-btn .btn{
  border: 1px solid var(--black-color);
  padding:23px 50px 23px 50px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  border-radius: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2px;
}
.about-content .about-info{
margin-bottom: 30px;
}
.owl-carousel .owl-item img {
display: block;
width: auto !important;
}
.item{
display: flex;
justify-content: center;
}
.logo-slider{
  padding: 100px 0;
}
.logo-slider .swiper-slide {
justify-content: center;
}
.contactus {
  background-color: rgba(247, 239, 236, 1);
  padding: 50px;
}
.contactus-data {
text-align: center;   
}
.contactus-data span{
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contactus-data h3{
  font-size: 36px;
  font-weight: 500;
  line-height: 35px;
  margin-top: 10px;
}
footer{
  padding-top: 38px;
  background-color:rgba(40, 40, 40, 1);
}
.footer-link li{
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.footer-link li a{
  color: var(--white-color);
  opacity: 0.7;
  letter-spacing: 1.2px;
}
.footer-contact h3{
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 15px;
}
.footer-contact input {
width: 100%;
height: 45px;
margin: 0 auto;
max-width: 278px;
}
form{
  text-align: center;
}
.footer-contact input::placeholder{
  color:rgba(206, 206, 206, 1);
}
.footer-contact input:focus{
  box-shadow: none;
}
.subscribe-btn{
  border: 1px solid var(--white-color);
  text-transform: uppercase;
  padding: 15px 30px 15px 30px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  border-radius: 0;
  color: var(--white-color);
  letter-spacing: 2px;
}
.subscribe-btn:hover{
  background-color: var(--white-color);
  color: var(--black-color);
}
.copy-right{
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--white-color);
  opacity: 0.7;
  font-family: 'Quattrocento';
}



/* ***********
finchley page
*********** */

.central-section p{
font-family: 'Quattrocento', serif;
}



/* finchley section */
#main .slide-finchley-1{
background-image: url('../images/pexels-mart.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
}
.slide-finchley-1{
background-image: url('../images/pexels-mart.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
}

/* central section */
.central-section{
padding: 90px 0;
}

.central-about h4{
color: #000000;
font-size: 36px;
line-height: 46px;
font-weight: 400;
letter-spacing: 1px;
}
.central-about h6{
color: #000000;
font-size: 16px;
line-height: 26px;
font-weight: 400;
margin-bottom: 20px;
}
.central-about p{
color: #666666;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.5px;
}

.central-img-col img{
width: 100%;
}

.central-box .central-box-text{
color: #000000;
font-size: 16px;
line-height: 26px;
font-weight: 600;
text-decoration: underline;
letter-spacing: 2px;
margin-bottom: 25px;
}
.contact-inner-box{
text-align: center;
}
.contact-inner-box img {
max-width: 100%;
width: 15px;
height: 15px;
}
.contact-inner-box .centarl-call{
background: #F7EFEC;
  padding: 13px;
  border-radius: 50px;
  height: 44px;
  width: 44px;
  line-height: 14px;
  margin: auto;
}
.contact-inner-box h6{
color: #000000;
font-size: 14px;
line-height: 24px;
font-weight: 500;
margin-top: 10px;
}
.contact-inner-box p{
color: #666666;
font-size: 14px;
line-height: 24px;
font-weight: 400;
}
.central-contact-box{
display: grid;
grid-template-columns: repeat(3,1fr);

}
.contact-inner-box .text-get{
margin-bottom: 0;
color: #000000;
font-size: 16px;
line-height: 26px;
font-weight: 600;
text-decoration: underline;
letter-spacing: 2px;
font-family: 'Mulish';
}

.contect-border{
position: relative;
}
.contect-border::after {
position: absolute;
content: '';
top: 19px;
bottom: 0;
right: 0;
/* left: 0; */
height: 100px;
color: #7a3e28;
width: 18px;
border-right: 1px solid #F7EFEC;
display: flex;
align-items: center;
}


/*beauty css */
.bg-brown:after{
background-color: #CFC1B9;
}
.bg-light-pink:after{
background-color: #E1B1A9;
}
.bg-green1:after{
background-color: #C9C099;
}
.bg-yellow1:after{
background-color: #E7CAA0;
}
.bg-brown-light::after{
background-color: #D7CCBF;
}
.bg-gray::after{
background-color: #BEA7A0;
}
.bg-pink::after{
background-color: #DBB2B2;
}
.bg-orange::after{
background-color: #E4BFB1;
}



/* cosmentic service section */
.cosmetic-service{
background: linear-gradient(90deg, #F7EFEC 57%, #FFFFFF 50%);
margin-bottom: 90px;
}
.cosmetic-service .collection-left-data span{
color: #000000;
}
.cosmetic-service .collection-left-data h4{
color: #000000;
font-weight: 600;
}
.cosmetic-service .collection-left-data p{
color: #666666;
}
.cosmetic-service .collection-left-data .btn{
  color: #000000;
  border: 1px solid #000000;

}
.cosmetic-service .collection-left-data .btn:hover{
  background-color: #000000;
  color: #ffffff;
}






/* muswell section */
#main .slide-muswell-1{
  background-image: url('../images/header\ 2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  }
  .slide-muswell-2{
  background-image: url('../images/header\ 2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  }

/* cosmentic service section */  
  .muswell-cosmetic-service{
    background: linear-gradient(90deg, rgba(252, 244, 233, 1) 57%, #FFFFFF 50%);
    margin-bottom: 90px;
    }
    .muswell-cosmetic-service .collection-left-data span{
    color: #000000;
    }
    .muswell-cosmetic-service .collection-left-data h4{
    color: #000000;
    font-weight: 600;
    }
    .muswell-cosmetic-service .collection-left-data p{
    color: #666666;
    }
    .muswell-cosmetic-service .collection-left-data .btn{
      color: #000000;
      border: 1px solid #000000;
    
    }
    .muswell-cosmetic-service .collection-left-data .btn:hover{
      background-color: #000000;
      color: #ffffff;
    }
    


/* 
*****
 team page css
***** */

.team-hero-hero-section{
  height: max-content !important;
}
 .slide-team-1{
  background-image: url('../images/team-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  }
    
.center-column h1{
    color: rgba(255, 255, 255, 1);
    font-size: 65px;
    line-height: 75px;
    font-weight: 400;
}
.our-team-section{
  margin: 90px 0;
}
.team-row{
  margin-top: 40px;
}




/* 
*****
terms condition
***** */
.terms-center-column h1{
  color: rgba(255, 255, 255, 1);
  font-size: 65px;
  line-height: 75px;
  font-weight: 400;
}
.slide-condition{
  background-image: url('../images/terms.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
}

.terms-condition-section{
  margin:90px 0;
}
.terms-condition-section h4{
  color: #000000;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
  margin-bottom: 15px;
}
.terms-condition-section p{
  color: #666666;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 0 !important;
}
.terms-box{
  margin-bottom: 30px;
}